@charset "UTF-8";

/**
 * @copyright     2024 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @author        guangda <service@guangda.work>
 * @Date          2024-11-12 10:42:54
 * @LastEditTime  2024-11-12 10:43:15
 */

.module-img-text-slideshow-2 {
  --swiper-theme-color: #fff;/* 设置Swiper风格 */
  --swiper-navigation-color: #fff;/* 单独设置按钮颜色 */
  --swiper-pagination-bullet-width: 5px;/* 设置分页器宽度 */
  --swiper-pagination-bullet-height: 5px;/* 设置分页器高度 */
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 12px;
  overflow: hidden;
  position: relative;

  &.w-container-fluid, &.w-container {
    border-radius: 16px;
    overflow: hidden;
  }

  .swiper-pagination-bullet {
    background-color: rgba($color: #fff, $alpha: .6);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%);
      width: 24px;
      height: 24px;
      opacity: 0;
      border: 1px solid #fff;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: rgba($color: #fff, $alpha: 1);
    &::after {
      opacity: 1;
    }
  }

  .swiper-pagination {
    @media (min-width: 992px) {
      bottom: 20px !important;
    }
  }

  .swiper-slide-active {
    .image-wrap {
      transform: scale(1);
    }
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);

    svg {
      --progress: 0;
      position: absolute;
      left: 0;
      top: 0px;
      z-index: 10;
      width: 100%;
      height: 100%;
      stroke-width: 4px;
      stroke: var(--swiper-theme-color);
      fill: none;
      stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
      stroke-dasharray: 125.6;
      transform: rotate(-90deg);
    }
  }

  .content-wrap {
    display: flex;
    &.start {
      justify-content: flex-start;
    }

    &.center {
      justify-content: center;
      text-align: center;

      .text-wrap {
        max-width: 800px;
      }
    }

    &.end {
      justify-content: flex-end;
      text-align: right;
    }
  }
  .image-text-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .image-wrap {
    transform: scale(1.1732);
    transition: transform 3s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .text-wrap {
    max-width: 800px;
    color: #fff;
    // margin-bottom: 30px;

    @media (max-width: 992px) {
      padding: 30px 0;
    }

    .sub-title {
      font-size: .8rem;
      margin-bottom: .4rem;

      @media (min-width: 992px) {
        font-size: 2rem;
        margin-bottom: .8rem;
      }
    }

    .title {
      font-size: .9rem;
      margin-bottom: 0;
      color: #fff;

      @media (min-width: 992px) {
        font-size: 3rem;
        margin-bottom: 1.2rem;
      }
    }

    .description {
      font-size: .8rem;
      margin-bottom: .8rem;

      @media (min-width: 992px) {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
    }

    a.btn {
      font-size: .7rem;
      background-color: #fff;
      padding: .3rem .8rem;
      &:hover {
        background-color: #222;
      }

      @media (min-width: 992px) {
        padding: 1rem 2rem;
        margin-top: 1.5rem;
        font-weight: bold;
        font-size: .8rem;
      }
    }
  }
}

.module-swiper-img-scroll-text-2 {
  padding: 36px 0;
  width: 100%;
  font-size: 20px;
  overflow: hidden;
  position: relative;
  @media (min-width: 992px) {
    border-top: 1px solid #e4e4e4;
  }

  @media (max-width: 768px) {
    font-size: 14px !important;
    padding: 16px 0 !important;
  }

  .scroll-info {
    white-space: nowrap;
  }

  .scroll-info {
    .scroll-text {
      padding: 0 35px;
      // font-weight: bold;
      display: inline-block;
      animation: marquee-animation 3s linear infinite;
      position: relative;
      &::after {
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translateY(-50%);
        content: '\F2EF';
        display: block;
        font-family: 'bootstrap-icons';
        font-size: 8px;
        background-color: #fff;
      }
    }
  }
}


// /* 滚动动画 */
@keyframes marquee-animation {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(-100%); /* 滚动到左侧 */
  }
}