@charset "UTF-8";

/**
 * @copyright     2022 beikeshop.com - All Rights Reserved.
 * @link          https://beikeshop.com
 * @author        guangda <service@guangda.work>
 * @Date          2022-08-24 17:24:33
 * @LastEditTime  2022-09-16 20:56:21
 */

body.page-product {
  @media (max-width: 768px) {
    background-color: #f2f2f3;
    padding-bottom: 64px;

    .breadcrumb-wrap {
      display: none
    }
  }

  .product-container {
    @media (max-width: 768px) {
      padding: 0;
      overflow-x: hidden;
    }
  }

  .product-mb-block {
    @media (max-width: 768px) {
      background-color: #fff;
      margin-bottom: 10px;
      padding: 10px;
    }
  }

  #product-description {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .product-image {
    position: relative;
    display: flex;
    align-items: stretch;

    #swiper {
      height: 100%;

      .swiper-wrapper {
        flex-direction: column;
      }

      &:hover {
        .swiper-pager > div {
          @media (max-width: 768px) {
            display: none;
          }
          background-color: rgba(255, 255, 255, 0.548);
          opacity: 1;
          &:hover {
            background-color: rgba(255, 255, 255);
          }
        }
      }
    }

    #swiper-mobile {
      width: 100%;
      border-right: 1px solid #eee;

      .swiper-pagination {
        --swiper-theme-color: #ff6600;/* 设置Swiper风格 */
        --swiper-navigation-color: #ff6600;/* 单独设置按钮颜色 */
        --swiper-navigation-size: 30px;/* 设置按钮大小 */
      }
    }

    .left {
      margin-right: 1rem;
      @media (min-width: 992px) {
        max-height: 360px;
      }

      @media (min-width: 1200px) {
        max-height: 450px;
      }

      @media (min-width: 1400px) {
        max-height: 512px;
      }

      .swiper > div > div {
        border: 1px solid #eee;
        margin-bottom: 10px;
        width: 80px;
        height: 80px;
        border-radius: 4px;
        min-height: 80px;
        padding: 2px;
        cursor: pointer;

        > a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          img {
            max-height: 100%;
          }
        }

        &.active, &:hover {
          border: 1px solid #3a3a3a;
        }
      }

      .swiper-pager {
        > div {
          opacity: 0;
          background-color: rgba(255, 255, 255, 0);
          transition: all .3s;
        }
        .swiper-button-next {
          border: 0;
          top: calc(100% - 36px);
          left: calc(50% + 5px);

          height: 55px;
          width: 30px;
          transform-origin: center;
          transform: rotate(90deg) translate(0,25%);

          &:hover,&.active {
            border: 0 !important;
          }

          &::after {
            font-size: 18px;
          }
        }

        .swiper-button-prev{
          border: 0;
          top: 0;
          left: calc(50% + 5px);
          height: 55px;
          width: 30px;
          transform-origin: center;
          transform: rotate(90deg) translate(0,25%);

          &:hover,&.active {
            border: 0 !important;
          }

          &::after {
            font-size: 18px;
          }
        }
      }
    }

    .right {
      border: 1px solid #eee;
      border-radius: 4px;
      position: relative;

      .product-img {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 510px;
      }
    }

    #product-video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 99;
      display: none;
    }

    .open-video {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      left: 50%;
      z-index: 99;
      line-height: 1;
      cursor: pointer;

      &:hover {
        i {
          color: #fff;
          background-color: rgba(0, 0, 0, 0.648);
        }
      }

      i {
        font-size: 4rem;
        line-height: 1;
        border-radius: 50%;
        font-weight: 400;
        display: inline-block;
        color: rgba(255, 255, 255, 0.948);
        background-color: rgba(0, 0, 0, 0.348);

        @media (max-width: 768px) {
          font-size: 3rem;
        }
      }
    }

    .close-video {
      position: absolute;
      top: 6px;
      right: 10px;
      z-index: 9999;
      color: #aaa;
      font-size: 30px;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }

  .stock-and-sku {
    @media (max-width: 768px) {
      background: #fafafa;
      padding: 8px;
      line-height: 1.6;
    }

    > div {
      @media (min-width: 768px) {
        font-size: 14px;
        margin-bottom: 10px;
      }

      @media (max-width: 768px) {
        display: inline-block;
        margin-right: 10px;
      }

      .title {
        @media (min-width: 768px) {
          width: 80px;
        }
      }
    }
  }

  .variables-wrap {
    &.error {
      background-color: rgba(255, 241, 239, 0.591);
      transition: all .3s;
      border: 1px dashed #ff6600;
      border-radius: 6px;
    }

    .variable-group {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .variable-info {
      > div {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
        border: 1px solid #ddd;
        margin-left: 0;
        min-width: 3rem;
        cursor: pointer;
        text-align: center;
        font-weight: bold;
        flex-direction: column;
        border-radius: 100px;
        transition: all .1s ease-in-out;
        &:hover, &.selected {
          border-color: #222;
          &.disabled {
            border-style: dashed;
            opacity: .7;
          }
        }

        &:not(.is-v-image) {
          padding: 0.4rem 0.5rem;
        }

        > span.image {
          width: 50px;
          // margin-bottom: 6px;
        }

        &:not(.selected) {
          &.disabled {
            border: 1px dashed #2e2929;
            color: #999;
          }
        }
      }
    }
  }

  .quantity-wrap {
    button, input {
      border-width: 1px;
      border-color: #ddd;
    }

    button {
      &:first-child {
        border-right: none;
      }

      &:last-child {
        border-left: none;
      }
    }

    input {
      border-left: none;
      border-right: none;
    }
  }

  .product-btns {
    .add-cart-btns {
      display: flex;
      flex:1;

      .add-cart, .btn-buy-now {
        flex: 1;
        @media (min-width: 768px) {
          font-size: 1rem;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      // padding: 0 10px;
      // > .btn {
      //   margin: 0 0 6px;
      //   width: 100%;

      //   &:last-child {
      //     margin-bottom: 0;
      //   }
      // }
    }

    @media (max-width: 768px) {
      z-index: 100;
      max-height: 102px;
      display: flex;
      align-items: center;
      left: 0;
      right: 0;
      width: 100%;
      background: #fff;
      position: fixed;
      bottom: 0;
      box-shadow: 0 -8px 12px 0 rgba(0,0,0,.10196078431372549);
      flex-wrap: wrap;
      padding: 10px 10px calc(10px + env(safe-area-inset-bottom));

      .quantity-btns {
        // flex: 1;
        display: flex;
        align-items: center;
      }

      .btn-buy-now {
        margin: 0 10px;
      }

      .add-wishlist {
        .btn {
          padding: 0;
          color: #333 !important;
        }

        span {
          display: none;
        }

        i {
          font-size: 20px;
        }
      }
    }
  }

  .peoduct-info {
    .product-name {
      font-size: 1.7rem;
      line-height: 1.3;
      font-weight: 600;

      @media (max-width: 768px) {
        font-size: 1rem;
        font-weight: normal;
      }
    }

    .rating-wrap {
      margin-bottom: 2rem;

      .rating {
        margin-right: .5rem;
        i {
          color: $primary;
        }
      }
    }

    .price-wrap {
      margin-bottom: 2.4rem;

      @media (max-width: 768px) {
        margin-bottom: 1rem;
      }
    }

    .quantity-btns {
      @media (min-width: 768px) {
        display: flex;
      }

      .quantity-input {
        max-width: 5rem;
        text-align: center;
      }
    }

    .add-wishlist {
      button {
        @media (min-width: 768px) {
          padding: 0 !important;
          margin-top: 10px;
        }
      }
    }
  }

  .product-description {
    .nav-tabs {
      .nav-link {
        border: none;

        &.active {
          position: relative;
          background-color: transparent;
          color: $primary;

          &:before {
            border-top: 1px solid $primary;
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }
    }
  }

  .attribute-table {
    tr {
      td:first-of-type {
        @media (min-width: 768px) {
          width: 20%;
        }

        @media (max-width: 768px) {
          width: 40%;
        }
      }
    }
  }

  .relations-wrap {
    .container {
      @media (max-width: 768px) {
        padding: 0 0 10px;
      }
    }

    .title {
      font-size: 20px;
      margin-bottom: 22px;

      @media (max-width: 768px) {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }

    .swiper-pagination {
      bottom: -10px;

      .swiper-pagination-bullet {
        height: 3px;
        border-radius: 0;
      }
    }
  }
}